.day__card {
  border-radius: 16px;
  border: "1px solid #0e0e0e";
  overflow: hidden;
  width: fit-content;
}
.day__card-active {
  background-color: #e8e7fd;
}
.day__card-active-heading {
  padding: 12px;
  background-color: rgba(0, 0, 0, 0.05);
}
.day__card .temprature-and-weather {
  display: flex;
  gap: 32px;
  align-items: center;
}
.day__card-active-body {
  padding: 16px;
  display: grid;
  gap: 16px;
}

.day__card .weather-details {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 12px;
  row-gap: 12px;
}
.day__card .weather-details .key_value {
  display: flex;
  gap: 8px;
}
