#search-weather {
  padding: 24px;
  display: grid;
  row-gap: 16px;
}

.search-weather__heading {
  display: flex;
  gap: 16px;
  align-items: center;
}

.search-weather__heading h6 {
  font-size: 28px;
  text-align: center;
  font-weight: 500;
}

.search-weather__city {
  display: grid;
  grid-template-columns: 10fr 1fr 1fr;
  gap: 16px;
}

.search-weather__null-state {
  font-size: 14px;
  color: grey;
  font-weight: 400;
  text-align: center;
}

.widget__first {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 24px;
}
.city__location {
  display: flex;
  align-items: center;
  gap: 8px;
}
.city__location-name {
  display: flex;
  align-items: center;
  gap: 4px;
  text-transform: capitalize;
}

.search-weather__mode {
  position: relative;
  height: 40px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  border: 1px solid;
  border-color: #0000000d;
  border-radius: 32px;
  cursor: pointer;
}

.search-weather__mode svg {
  z-index: 99;
}
.search-weather__mode svg:focus {
  outline: none;
}

.selected-mode {
  position: absolute;
  height: 100%;
  width: 40px;
  background-color: #e8e7fd;
  border-radius: 50%;
  z-index: 0;
  transition: left 250ms;
}

.dark-mode__icon {
  transform: rotateY(180deg);
}

.light-mode {
  left: 0px;
}
.dark-mode {
  left: 40px;
}
